.outblock {
	padding: 10px;
    height: 100%;
	float: left;
	display: inline;
    margin-right: 10%;
}

.intblock {
	display: block;
	padding: 5px;
    margin-bottom: 15px;
    margin-top: -10px;
}

.intblock_num {
	display: block;
	padding: 5px;
}

.pud {
    height: 5em;
}