.btn-add-new-post {
  position: fixed;
  bottom: 12px;
  right: 20px;
}

.btn-create-pud {
  position: fixed;
  bottom: 78px;
  right: 20px;
}

.btn-pud {
    position: fixed;
    bottom: 144px;
    right: 20px;
}

.btn-add-new-friend {
  position: fixed;
  bottom: 210px;
  right: 20px;
}

.btn-home {
  position: fixed;
  bottom: 276px;
  right: 20px;
}

.btn-change-date{
  position: fixed;
  bottom: 342px;
  right: 20px;
}

.btn-before {
  position: fixed;
  bottom: 408px;
  right: 20px;
}

.btn-next {
  position: fixed;
  bottom: 474px;
  right: 20px;
}



.no-posts-here {
  text-align: center;
}

.post {
    height: 200px;
}

.post .post__meta {
  font-weight: bold;
  text-align: right;
  padding-bottom: 19px;
}

.post .post__meta a:hover {
  text-decoration: none;
}

.account {}

.account .account__header {
  margin-bottom: 20px;
  text-align: center;
}

.account .account__username {
  font-weight: bold;
}

.buttonform{
    text-align: center;
}

.post__notify__false {
    display: none;
}

.post__repeat__none {
    display: none;
}


.all_day{
    margin-left: 50em;
}

.post__repeatnone{
    display: none;
}

.post__time{
    display: none;
}

.post .post__beta__true{
  text-align: right;
  padding-bottom: 19px;
    font-size: 70%;
}

.post .day_of_week{
    font-size: 70%;
}

.post .post__beta__false{
    display: none;
}

.post .post__location__none {
    display: none;
}

.post .post__location__inline {
    display: inline;
}

.post .post__content{
    display: inline;
}

.post .post__description__none{
   display: none;
}

.form-control:focus{
    border-bottom: 2px solid #CDF0ED;
}

#button__padding{
    margin-left: 20px;
}
#date__padding{
    margin-left: 50px;
}

.transparent {
zoom: 1;
filter: alpha(opacity=50);
opacity: 0.5;
}

.col-md-1 {
    width: 13%;
}