<form role="form" ng-submit="vm.submit()">
    <div class="form-group">
        <center><h2>Free Times</h2></center>

        <md-switch ng-model="vm.event_type" aria-label="Switch 2" ng-true-value="'Recurring'"
                   ng-false-value="'One-Time'"
                   ng-init="vm.event_type='One-Time'">
            {{ vm.event_type }}
        </md-switch>

        <div ng-show="vm.event_type=='Recurring'">
            Search from:
            <input type="date" name="startsearch" ng-model="vm.start_search">
            <br>
            Search until:
            <input type="date" name="endsearch" ng-model="vm.end_search">
        </div>

        <md-input-container>
            <label>Duration (in hours):</label>
            <input required type="number" step="any" name="quant_hr" ng-model="vm.dur_hr" min="0" max="24">

            <div ng-messages="vm.dur_hr.$error">
                <div ng-message="vm.dur_hr">hrs</div>
            </div>
        </md-input-container>

        <md-input-container ng-show="vm.dur_hr!=24">
            <label>Duration (in minutes):</label>
            <input required type="number" step="any" name="quant_mi" ng-model="vm.dur_mi" min="0" max="59">

            <div ng-messages="vm.dur_mi.$error">
                <div ng-message="vm.dur_mi">minutes</div>
            </div>
        </md-input-container>
        <br>

        <div>
            Start time:
            <input type="time" name="starttime" ng-model="vm.begin_time">
            End time:
            <input type="time" name="endtime" ng-model="vm.end_time">
        </div>

        Days:
        <md-checkbox aria-label="sunday" class="days_checkbox" ng-model="vm.su">Sunday</md-checkbox>
        <md-checkbox aria-label="monday" class="days_checkbox" ng-model="vm.mo">Monday</md-checkbox>
        <md-checkbox aria-label="tuesday" class="days_checkbox" ng-model="vm.tu">Tuesday</md-checkbox>
        <md-checkbox aria-label="wednesday" class="days_checkbox" ng-model="vm.we">Wednesday</md-checkbox>
        <md-checkbox aria-label="thursday" class="days_checkbox" ng-model="vm.th">Thursday</md-checkbox>
        <md-checkbox aria-label="friday" class="days_checkbox" ng-model="vm.fr">Friday</md-checkbox>
        <md-checkbox aria-label="saturday" class="days_checkbox" ng-model="vm.sa">Saturday</md-checkbox>

        <!-- <md-checkbox aria-label="sunday" class="days_checkbox" ng-model="vm.mo" ng-click="vm.addDay()" ng-true-value="0">Sunday</md-checkbox>
        <md-checkbox aria-label="monday" class="days_checkbox" ng-model="vm.day" ng-click="vm.addDay()" ng-true-value="1">Monday</md-checkbox>
        <md-checkbox aria-label="tuesday" class="days_checkbox" ng-model="vm.day" ng-click="vm.addDay()" ng-true-value="2">Tuesday</md-checkbox>
        <md-checkbox aria-label="wednesday" class="days_checkbox" ng-model="vm.day" ng-click="vm.addDay()" ng-true-value="3">Wednesday</md-checkbox>
        <md-checkbox aria-label="thursday" class="days_checkbox" ng-model="vm.day" ng-click="vm.addDay()" ng-true-value="4">Thursday</md-checkbox>
        <md-checkbox aria-label="friday" class="days_checkbox" ng-model="vm.day" ng-click="vm.addDay()" ng-true-value="5">Friday</md-checkbox>
        <md-checkbox aria-label="saturday" class="days_checkbox" ng-model="vm.day" ng-click="vm.addDay()" ng-true-value="6">Saturday</md-checkbox> -->

        <angucomplete class="change_angucomplate" id="search" pause="100" selectedobject="vm.selectedUser"
                      localdata="ngDialogData" titlefield="username" searchfields="username"
                      minlength="1"
                      inputclass="form-control2" matchclass="highlight"
                      placeholder="Search Following"/>

        <center><a class="absolute mdi-social-plus-one btn btn-default "
                   ng-show="vm.selectedUser"
                   ng-click="vm.addUser()"></a></center>

        <li ng-repeat="user in vm.followingDict">{{ user }}</li>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                Submit
            </button>
        </div>

    </div>

</form>
