<div class="account" ng-show="vm.isAuthenticated" ng-cloak>
    <div class="jumbotron account__header">
        <h1 class="account__username" ng-cloak>{{ vm.date }}</h1>

        <h3>Week {{ vm.weekNum }}</h3>
    </div>

    <posts posts="vm.posts"></posts>
</div>

<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
    <center><h3>Social Bar</h3></center>
<div class="form-group">
    <angucomplete id="search__username" pause="100" selectedobject="vm.selectedCountry"
                  localdata="vm.countries" searchfields="name" titlefield="name" minlength="1"
                  inputclass="form-control2" matchclass="highlight" placeholder="Search for user"/>
    <!--<label id="search__username" class="label" for="search__username">Search for User</label>-->

</div>


    <div>
        <p>
            <button class="btn btn-default btn-sm" ng-click="status.open = !status.open">Toggle last panel</button>
            <button class="btn btn-default btn-sm" ng-click="status.isFirstDisabled = ! status.isFirstDisabled">Enable /
                Disable first panel
            </button>
        </p>

        <label class="checkbox">
            <input type="checkbox" ng-model="oneAtATime">
            Open only one at a time
        </label>
        <accordion close-others="oneAtATime">
            <accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen"
                             is-disabled="status.isFirstDisabled">
                This content is straight in the template.
            </accordion-group>
            <accordion-group heading="{{ group.title }}" ng-repeat="group in groups">
                {{ group.content }}
            </accordion-group>
            <accordion-group heading="Dynamic Body Content">
                <p>The body of the accordion group grows to fit the contents</p>
                <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
                <div ng-repeat="item in items">{{ item }}</div>
            </accordion-group>
            <accordion-group is-open="status.open">
                <accordion-heading>
                    I can have markup, too! <i class="pull-right glyphicon"
                                               ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                This is just some content to illustrate fancy headings.
            </accordion-group>
        </accordion>
    </div>
    <div class="form-group">
        <center><h4 class="bar_section">Shared With</h4></center>
        <h5 class="bar_section">Groups:</h5>
        <ul>

        </ul>
        <h5 class="bar_section">Users:</h5>
        <ul>

        </ul>
    </div>

</nav>

<div id="pudview" class="pudview">

    <div class="pudview-content">
        <div class="dummy-column">
            <h2>This Week</h2>
            <a class="dummy-media-object" href="http://twitter.com/SaraSoueidan">
                <img class="round"
                     src="http://0.gravatar.com/avatar/81b58502541f9445253f30497e53c280?s=50&d=identicon&r=G"
                     alt="Sara Soueidan"/>

                <h3>Sara Soueidan</h3>
            </a>

        </div>
        <div class="dummy-column">
            <h2>This Month</h2>
            <a class="dummy-media-object" href="http://twitter.com/SaraSoueidan">
                <img class="round"
                     src="http://0.gravatar.com/avatar/81b58502541f9445253f30497e53c280?s=50&d=identicon&r=G"
                     alt="Sara Soueidan"/>

                <h3>Sara Soueidan</h3>
            </a>

        </div>
        <div class="dummy-column">
            <h2>By Priority</h2>
            <a class="dummy-media-object" href="http://twitter.com/SaraSoueidan">
                <img class="round"
                     src="http://0.gravatar.com/avatar/81b58502541f9445253f30497e53c280?s=50&d=identicon&r=G"
                     alt="Sara Soueidan"/>

                <h3>Sara Soueidan</h3>
            </a>

        </div>
    </div>
    <!-- /pudview-content -->
    <button class="pudview-close" id="pudview-close"></button>
</div><!-- /pudview -->

<a class="btn btn-primary btn-fab btn-raised mdi-content-add btn-add-new-post"
   href="javascript:void(0)"
   ng-show="vm.isAuthenticated"
   ng-dialog="/static/templates/posts/new-post.html"
   ng-dialog-controller="NewPostController as vm"></a>

<a class="mdi-social-person-add btn btn-primary btn-fab btn-raised btn-add-new-friend"
   id="showLeftPush"
   ng-show="vm.isAuthenticated"
   ng-dialog-controller="NewPostController as vm"></a>

<button class="mdi-image-navigate-before btn btn-primary btn-fab btn-raised btn-before"
        ng-show="vm.isAuthenticated"
        ng-click="vm.before()"></button>

<button class="mdi-image-navigate-next btn btn-primary btn-fab btn-raised btn-next"
        ng-show="vm.isAuthenticated"
        ng-click="vm.next()"></button>

<button class="mdi-action-store btn btn-primary btn-fab btn-raised btn-home"
        type="submit"
        ng-show="vm.isAuthenticated"
        ng-click="vm.activate()"></button>

<button class="mdi-navigation-check btn btn-primary btn-fab btn-raised btn-pudview"
        id="btn-pudview"
        ng-show="vm.isAuthenticated"></button>

<a class="mdi-content-create btn btn-primary btn-fab btn-raised btn-create-pud"
   href="javascript:void(0)"
   ng-show="vm.isAuthenticated"
   ng-dialog="/static/templates/puds/new-pud.html"
   ng-dialog-controller="NewPudController as vm"></a>

<a class="mdi-action-today btn btn-primary btn-fab btn-raised btn-change-date"
   id="showLeftPush"
   href="javascript:void(0)"
   ng-show="vm.isAuthenticated"
   ng-dialog="/static/templates/posts/change-calendar.html"
   ng-dialog-controller="DateController as vm"></a>

<script>
    (function () {
        var pudScreen = document.getElementById('pudview');
        var input = document.getElementById('btn-pudview');
        var ctrlClose = document.getElementById('pudview-close');
        var isOpen = false;
        var isAnimating = false;
        // show/hide pud area
        toggleSearch = function (evt) {
            // return if open and the input gets clicked
            if (evt.type.toLowerCase() === 'click' && isOpen) return false;

            var offsets = pudview.getBoundingClientRect();
            if (isOpen) {
                classie.remove(pudScreen, 'open');
                input.blur();
            }
            else {
                classie.add(pudScreen, 'open');
            }
            isOpen = !isOpen;
        };
        input.addEventListener('click', toggleSearch);
        ctrlClose.addEventListener('focus', toggleSearch);
        // esc key closes search overlay
        // keyboard navigation events
        document.addEventListener('keydown', function (ev) {
            var keyCode = ev.keyCode || ev.which;
            if (keyCode === 27 && isOpen) {
                toggleSearch(ev);
            }
        });
    })();
</script>

<script>
    var menuLeft = document.getElementById('cbp-spmenu-s1'),
            showLeftPush = document.getElementById('showLeftPush'),
            body = document.body;


    showLeftPush.onclick = function () {
        classie.toggle(this, 'active');
        classie.toggle(body, 'cbp-spmenu-push-toright');
        classie.toggle(menuLeft, 'cbp-spmenu-open');
    };
</script>



