<div class="account" ng-show="vm.isAuthenticated" ng-cloak>
    <div class="jumbotron account__header">
        <h1 class="account__username" ng-cloak>{{ vm.date }}</h1>

        <h3>Week {{ vm.weekNum }}</h3>
    </div>

    <posts posts="vm.posts"></posts>
</div>

<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
    <center><h3>Social Bar</h3></center>


    <div>
        <accordion close-others="vm.oneAtATime">
            <accordion-group is-open="status.isSecondOpen"
                             is-disabled="status.isSecondDisabled">
                <accordion-heading>
                    Following <i class="pull-right glyphicon"
                                 ng-class="{'glyphicon-chevron-down': status.isSecondOpen, 'glyphicon-chevron-right': !status.isSecondOpen}"></i>
                </accordion-heading>
                <br>

                <li ng-show="vm.isFollowing" ng-repeat="following in vm.followingList">
                    {{ following }}
                </li>
                <h5 ng-hide="vm.isFollowing"> {{ vm.myUsername }} is not following anyone :(</h5>
            </accordion-group>
            <accordion-group is-open="status.isFirstOpen"
                             is-disabled="status.isFirstDisabled">
                <accordion-heading>
                    Followers <i class="pull-right glyphicon"
                                 ng-class="{'glyphicon-chevron-down': status.isFirstOpen, 'glyphicon-chevron-right': !status.isFirstOpen}"></i>
                </accordion-heading>

                <button type="button" class="mdi-social-person-add btn btn-primary btn-lg" data-toggle="collapse"
                        data-target="#search">
                </button>
                <div id="search" class="collapse">
                    <angucomplete id="search__username" pause="100" selectedobject="vm.selectedUser"
                                  localdata="vm.users" titlefield="username" searchfields="username" minlength="1"
                                  inputclass="form-control2" matchclass="highlight" placeholder="Search for user"/>

                    <button data-toggle="collapse" data-target="#search" ng-show="vm.selectedUser"
                            ng-click="vm.addFollower()"
                            class="btn btn-primary">
                        Add Follower
                    </button>
                </div>
                <br>

                <li ng-show="vm.hasFollowers" ng-repeat="follower in vm.followerList">
                    {{ follower }}
                </li>
                <h5 ng-hide="vm.hasFollowers"> {{ vm.myUsername }} has no followers :(</h5>
            </accordion-group>

            <accordion-group is-open="status.open">
                <accordion-heading>
                    Groups<i class="pull-right glyphicon"
                             ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                <center>

                    <button type="button" class="mdi-social-group-add btn btn-primary btn-lg"
                            data-toggle="collapse" data-target="#add_group">
                    </button>
                    <div id="add_group" class="collapse">
                        <form role="form" ng-submit="vm.addGroup()">
                            <div class="form-group">
                                <div class="form-group">

                                    <input type="text" style="text-align: center; color: #cdf0ed " class="form-control"
                                           id="group__name"
                                           ng-model="vm.groupName" required>
                                    <span class="form-highlight"></span>
                                    <span class="form-bar"></span>
                                    <label id="green" class="float-label-center" for="group__name">Group Name</label>

                                </div>

                                <angucomplete id="search__members" pause="100" selectedobject="vm.selectedMember"
                                              localdata="vm.users" titlefield="username" searchfields="username"
                                              minlength="1"
                                              inputclass="form-control2" matchclass="highlight"
                                              placeholder="Search for group members"/>


                                <center><a class="mdi-social-plus-one btn btn-primary "
                                           ng-show="vm.selectedMember"
                                           ng-click="vm.addMembers()"></a></center>

                                <li ng-repeat="member in vm.groupMembers">
                                    {{ member }}
                                </li>


                                <div class="form-group">
                                    Group Rules:
                                    <select class="form-control" ng-model="vm.rule" id="group__rules">
                                        <option value='Daily'>Busy Only</option>
                                        <option value='Weekly'>See All</option>
                                        <option value='Monthly'>Modify</option>
                                    </select>

                                </div>

                            </div>


                            <div class="form-group">
                                <button data-toggle="collapse" data-target="#add_group" type="submit"
                                        class="btn btn-primary">
                                    Create Group
                                </button>
                            </div>
                        </form>
                    </div>
                </center>
                <br>
                <li ng-repeat="group in vm.groupList">
                    <a class="btn btn-flat btn-default btn-nopadding"
                       ng-click="vm.groupClick(group)"
                       href="javascript:void(0)"
                       ng-show="vm.isAuthenticated"
                       ng-dialog="/static/templates/groups/group.html"
                       ng-dialog-data="{{ group }}">{{ group.name }}</a>
                </li>
                <h5 ng-hide="vm.hasGroups"> {{ vm.myUsername }} has no groups :(</h5>
            </accordion-group>
        </accordion>
    </div>

</nav>

<div id="pudview" class="pudview" ng-show="vm.isAuthenticated">

    <puds puds="vm.puds"></puds>

    <button class="pudview-close" id="pudview-close"></button>
</div><!-- /pudview -->

<a class="btn btn-primary btn-fab btn-raised mdi-content-add btn-add-new-post"
   href="javascript:void(0)"
   ng-show="vm.isAuthenticated"
   ng-dialog="/static/templates/posts/new-post.html"
   ng-dialog-controller="NewPostController as vm"></a>

<a class="mdi-social-group btn btn-primary btn-fab btn-raised btn-add-new-friend"
   id="showLeftPush"
   ng-show="vm.isAuthenticated"
   ng-dialog-controller="NewPostController as vm"></a><!--redundant controller??!!! -->

<button class="mdi-image-navigate-before btn btn-primary btn-fab btn-raised btn-before"
        ng-show="vm.isAuthenticated"
        ng-click="vm.before()"></button>

<button class="mdi-image-navigate-next btn btn-primary btn-fab btn-raised btn-next"
        ng-show="vm.isAuthenticated"
        ng-click="vm.next()"></button>

<button class="mdi-action-store btn btn-primary btn-fab btn-raised btn-home"
        type="submit"
        ng-show="vm.isAuthenticated"
        ng-click="vm.activate()"></button>

<button class="mdi-navigation-check btn btn-primary btn-fab btn-raised btn-pudview"
        id="btn-pudview"
        ng-show="vm.isAuthenticated"></button>

<a class="mdi-content-create btn btn-primary btn-fab btn-raised btn-create-pud"
   href="javascript:void(0)"
   ng-show="vm.isAuthenticated"
   ng-dialog="/static/templates/puds/new-pud.html"
   ng-dialog-controller="NewPudController as vm"></a>

<a class="mdi-action-today btn btn-primary btn-fab btn-raised btn-change-date"
   id="showLeftPush"
   href="javascript:void(0)"
   ng-show="vm.isAuthenticated"
   ng-dialog="/static/templates/posts/change-calendar.html"
   ng-dialog-controller="DateController as vm"></a>

<script>
    (function () {
        var pudScreen = document.getElementById('pudview');
        var input = document.getElementById('btn-pudview');
        var ctrlClose = document.getElementById('pudview-close');
        var isOpen = false;
        var isAnimating = false;
        // show/hide pud area
        toggleSearch = function (evt) {
            // return if open and the input gets clicked
            if (evt.type.toLowerCase() === 'click' && isOpen) return false;

            var offsets = pudview.getBoundingClientRect();
            if (isOpen) {
                classie.remove(pudScreen, 'open');
                input.blur();
            }
            else {
                classie.add(pudScreen, 'open');
            }
            isOpen = !isOpen;
        };
        input.addEventListener('click', toggleSearch);
        ctrlClose.addEventListener('focus', toggleSearch);
        // esc key closes search overlay
        // keyboard navigation events
        document.addEventListener('keydown', function (ev) {
            var keyCode = ev.keyCode || ev.which;
            if (keyCode === 27 && isOpen) {
                toggleSearch(ev);
            }
        });
    })();
</script>

<script>
    var menuLeft = document.getElementById('cbp-spmenu-s1'),
            showLeftPush = document.getElementById('showLeftPush'),
            body = document.body;


    showLeftPush.onclick = function () {
        classie.toggle(this, 'active');
        classie.toggle(body, 'cbp-spmenu-push-toright');
        classie.toggle(menuLeft, 'cbp-spmenu-open');
    };
</script>



