<div>
    <h6>event; content:val; description:val; location:val; dateOfEvent:mm/dd/yyyy; allDay:y/n; optionalStartTime:hh/mm;
        optionalEndTime:hh/mm;  repeat:y/n; optionalRepeatValue:weekly/daily/monthly; optionalRepeatEndDate:mm/dd/yyyy;  pudAllocation:y/n;
        notify:y/n; optionalNotificationTime: mm/dd/yyyy/hh/mm; shareEvent:y/n; optionalShareWith:name1/Busy.name2/Read Only.name3/Modify;</h6>


    <h5>Example 1:</h5>
        <h6>event; content:Graduation; description:Commencement Ceremony; location:val; dateOfEvent:05/10/2015; allDay:n; optionalStartTime:09/00;
        optionalEndTime: 12/00;  repeat:n; optionalRepeatValue:; optionalRepeatEndDate:;  pudAllocation:n;
        notify:n; optionalNotificationTime:; shareEvent:n; optionalShareWith:;</h6>

    <h5>Example 2:</h5>
        <h6>event; content:Fetch Mail; description:Blah; location:Street; dateOfEvent:05/11/2015; allDay:n; optionalStartTime:09/00;
        optionalEndTime: 12/00;  repeat:y; optionalRepeatValue:Daily; optionalRepeatEndDate:05/15/2015;  pudAllocation:n;
        notify:n; optionalNotificationTime:; shareEvent:y; optionalShareWith:Ellen/Read Only.Test/Busy;</h6>
</div>