<form role="form" ng-submit="vm.submit()">
    <div class="form-group">
        <h2 layout="column" layout-align="center center">New Task</h2>

        <md-input-container>
            <label>Name of Task</label>
            <input required type="text" name="task_name" ng-model="vm.content">
        </md-input-container>

        <h4 layout="column" layout-align="center center">Priority</h4>

        <div class="form-group" layout="row" layout-align="center center">
            <label class="radio_btn_label" for="low">Low</label>
            <input type="radio" name="priority" id="low" value="low" ng-model="vm.priority">
            <label class="radio_btn_middle" for="normal">Normal</label>
            <input type="radio" name="priority" id="normal" value="normal" ng-model="vm.priority">
            <label class="radio_btn_label" for="high">High</label>
            <input type="radio" name="priority" id="high" value="high" ng-model="vm.priority">
            <label for="urgent">Urgent</label>
            <input type="radio" name="priority" id="urgent" value="urgent" ng-model="vm.priority">
        </div>

        <md-input-container>
            <label>Duration (in hours):</label>
            <input required type="number" step="any" name="quantity" ng-model="vm.duration" min="1" max="24">
        </md-input-container>

        <md-checkbox aria-label="is_repeating" class="is_repeating" ng-model="vm.is_repeating">Recurring</md-checkbox>

        <!-- change this to md-select, but seems to have trouble working, options pop-up not showing -->
        <div ng-show="vm.is_repeating">
            <select class="form-control" ng-model="vm.repeat">
                <option value='Daily'>Daily</option>
                <option value='Weekly'>Weekly</option>
                <option value='Monthly'>Monthly</option>
            </select>
        </div>

        <md-checkbox aria-label="notifications" class="notifications" ng-model="vm.notification">Notifications
        </md-checkbox>

        <md-input-container ng-show="vm.notification">
            <label>Notification interval</label>
            <input type="number" step="any" name="notify_when" ng-model="vm.notify_when" min="0" max="7">

            <div ng-messages="vm.notify_when.$error">
                <div ng-message="vm.notify_when">You will be notified every {{ vm.notify_when }} day(s) (0 indicates no
                    notifications)
                </div>
            </div>
        </md-input-container>

        <div class="form-group" layout="column" layout-align="center center">
            <md-button class="md-raised md-primary btn-submit" type="submit">Submit</md-button>
        </div>

    </div>

</form>
