<form role="form" ng-submit="vm.submit()">
    <div class="form-group">
        <center><h2>Create Present-Until-Done Task</h2></center>

        <div class="form-group">

            <input type="text" class="form-control" id="event__name" ng-model="vm.content" required>
            <span class="form-highlight"></span>
            <span class="form-bar"></span>
            <label class="float-label" for="event__name">Name of PUD Task</label>

        </div>
        <center><h4>Priority</h4></center>
        <center><div class="form-group">
                <label for="very_low">Very Low</label>
                <input type="radio" name="priority" id="very_low" value="very_low" ng-model="vm.priority">
                <label class="radio_btn_label" for="low">Low</label>
                <input type="radio" name="priority" id="low" value="low" ng-model="vm.priority">
                <label class="radio_btn_middle" for="medium">Medium</label>
                <input type="radio" name="priority" id="medium" value="medium" ng-model="vm.priority">
                <label class="radio_btn_label" for="high">High</label>
                <input type="radio" name="priority" id="high" value="high" ng-model="vm.priority">
                <label for="very_high">Very High</label>
                <input type="radio" name="priority" id="very_high" value="very_high" ng-model="vm.priority">
        </div>
        </center>

        <div class="form-group">
            Duration (in hours):
            <input id="duration" type="number" name="quantity" min="1" max="100" ng-model="vm.duration">
        </div>


        Repeat:
        <input type="checkbox" name="is_repeating" ng-model="vm.is_repeating"/>

        <div ng-show="vm.is_repeating == true">
            <br>
            <select class="form-control" ng-model="vm.repeat">
                <option value='Daily'>Daily</option>
                <option value='Weekly'>Weekly</option>
                <option value='Monthly'>Monthly</option>
            </select>
        </div>
        <br>
        Receive email notifications:
        <input type="checkbox" name="notification" ng-model="vm.notification "/>
        <br>
        <input type="datetime-local" name="notify_when" ng-model="vm.notify_when" ng-show="vm.notification == true"/>
        <br ng-show="vm.notification == true">

        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                Submit
            </button>
        </div>


    </div>

</form>
