<div class="well flip-container">

    <div class="pud flipper">
        <div class="front">
            <div class="outblock">
                <div class="pud_content intblock">{{ pud.content }}</div>
                <div class="pud_repeat intblock">{{ pud.repeat }}</div>
            </div>
            <div class="outblock_r">
                <div class="pud_duration intblock">{{ pud.duration }} hrs</div>
                <div class="pud_priority intblock">{{ pud.priority }}</div>
            </div>
        </div>
        <div class="back">
            <div class="outblock_c">
                <div class="intblock">
                    <md-checkbox aria-label="complete_pud" class="complete_pud" ng-change="vm.change(vm.complete)"
                                 ng-model="vm.complete">Complete</md-checkbox>
                </div>
            </div>
        </div>
    </div>


    <div style="display: none">
        <li ng-init="vm.pud_author=pud.author"></li>
        <li ng-init="vm.pud_id=pud.id"></li>
    </div>

</div>