<div class="row pudview-content" ng-cloak>
    <div class="col-md-4 dummy-column">
        <h2>This Week</h2>
        <div ng-repeat="pud in vm.columns[0]">
            <pud pud="pud"></pud>
        </div>
    </div>
    <div class="col-md-4 dummy-column">
        <h2>This Month</h2>
        <div ng-repeat="pud in vm.columns[1]">
            <pud pud="pud"></pud>
        </div>
    </div>
    <div class="col-md-4 dummy-column">
        <h2>By Priority</h2>
        <div ng-repeat="pud in vm.columns[2]">
            <pud pud="pud"></pud>
        </div>
    </div>
</div><!-- /pudview-content -->