<form role="form" ng-submit="vm.submit()">
    <div class="form-group">
        <center><h2>New Event</h2></center>

        <md-input-container>
            <label style="color:#545454">Name of Event</label>
            <input required type="text" name="task_name" ng-init="vm.content = ngDialogData.content"
                   ng-model="vm.content">
        </md-input-container>

        <md-input-container>
            <label style="color:#545454">Location of Event</label>
            <input required type="text" name="task_name" ng-init="vm.location_event = ngDialogData.location_event"
                   ng-model="vm.location_event">
        </md-input-container>

        <md-input-container>
            <label style="color:#545454">Description of Event</label>
            <input required type="text" name="task_name" ng-init="vm.description_event = ngDialogData.description_event"
                   ng-model="vm.description_event">
        </md-input-container>


        <md-input-container flex>
            <label style="color:#545454">Date of Event</label>
            <input required type="date" ng-model="vm.start_time">
        </md-input-container>
        <md-checkbox ng-model="vm.not_all_day">Not all day?</md-checkbox>

        <div ng-show="vm.not_all_day == true">
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label style="color:#545454">Start time</label>
                    <input type="time" ng-model="vm.begin_time">
                </md-input-container>

                <md-input-container flex>
                    <label style="color:#545454">End time</label>
                    <input type="time" ng-model="vm.end_time">
                </md-input-container>
            </div>

            <md-checkbox aria-label="is_pud_time" class="is_pud_time" ng-model="vm.pud_time">Pud allocation
            </md-checkbox>
        </div>

        <md-checkbox aria-label="is_repeating" class="is_repeating" ng-model="vm.is_repeating"
                     ng-hide="vm.pud_time == true">Repeat
        </md-checkbox>

        <div ng-show="vm.is_repeating == true">
            <md-radio-group ng-model="vm.repeat">
                <div layout layout-sm="column" layout-align="center center">
                    <md-radio-button value='Daily'>Daily</md-radio-button>
                    <md-radio-button value='Weekly'>Weekly</md-radio-button>
                    <md-radio-button value='Monthly'>Monthly</md-radio-button>
                </div>
            </md-radio-group>

            <md-input-container flex>
                <label style="color:#545454">Repeat until</label>
                <input type="date" ng-model="vm.end_repeat">
            </md-input-container>

        </div>

        <md-checkbox aria-label="is_shared" class="is_shared" ng-model="vm.is_shared">Share Event?</md-checkbox>

        <div ng-show="vm.is_shared == true">
            <br>
            <angucomplete class="change_angucomplate" id="search" pause="100" selectedobject="vm.selectedGroup"
                          localdata="ngDialogData" titlefield="name" searchfields="name"
                          minlength="1"
                          inputclass="form-control2" matchclass="highlight"
                          placeholder="Search Groups and Followers"/>

            <center><h4 ng-show="vm.selectedGroup">Access Rule</h4></center>
            <center>
                <div class="form-group" ng-show="vm.selectedGroup">
                    <label class="radio_btn_left" for="busy">Busy</label><input type="radio" name="rule" id="busy"
                                                                                value="Busy" ng-model="vm.rule">
                    <label class="radio_btn_middle_post" for="see">Read Only</label>
                    <input type="radio" name="rule" id="see" value="Read Only" ng-model="vm.rule">
                    <label class="radio_btn_label" for="modify">Modify</label>
                    <input type="radio" name="rule" id="modify" value="Modify" ng-model="vm.rule">

                </div>
            </center>

            <center><a class="absolute mdi-social-plus-one btn btn-default "
                       ng-show="vm.rule"
                       ng-click="vm.addGroups()"></a></center>

            <li ng-repeat="(group, rule) in vm.groupRuleDict">{{ group }} - {{ rule }}</li>
        </div>

        <md-checkbox aria-label="notification" class="notification" ng-model="vm.notification">Receive email
            notifications
        </md-checkbox>
        <md-input-container>
            <label ng-show="vm.notification == true" style="color:#545454">Notification Time</label>
            <input type="datetime-local" name="notify_when" ng-model="vm.notify_when"
                   ng-show="vm.notification == true"/>
        </md-input-container>

        <div class="form-group" layout="column" layout-align="center center">
            <md-button class="md-raised md-primary btn-submit" type="submit">Submit</md-button>
        </div>


    </div>

</form>
