<div class="top_corner_div">
    <h5>Event Shared on: {{ ngDialogData.created_at }}</h5>
    <h5>Event Shared by: {{ ngDialogData.owner }}</h5>
</div>
<br>
<center><h2>{{ ngDialogData.content }}</h2></center>
<center><h4 ng-hide="ngDialogData.is_holiday">{{ ngDialogData.description_event }}</h4></center>

<br>
<h5>Date of Event: {{ ngDialogData.day_of_week }}, {{ ngDialogData.show_date }}</h5>
<h5 ng-show="ngDialogData.not_all_day">Time of Event: {{ ngDialogData.start_time | date:'h:mma' }}
    - {{ ngDialogData.end_time | date:'h:mma' }}</h5>
<h5 ng-hide="ngDialogData.is_holiday">Location: {{ ngDialogData.location_event }}</h5>
<h5 ng-show="ngDialogData.need_repeat">Repeats {{ ngDialogData.repeat }} until {{ ngDialogData.end_repeat }}</h5>

<br>
<form role="form" ng-submit="vm.replyNotification()">
    <div class="form-group">

        <div class="form-group">
            <center><h4>Event Invitation Status</h4></center>
            <center>
                <div class="form-group">
                    <label class="radio_btn_left" for="confirm">Confirm</label><input type="radio" name="response"
                                                                                      id="confirm"
                                                                                      value='Confirm'
                                                                                      ng-model="vm.response">
                    <label class="radio_btn_middle_post" for="decline">Decline</label>
                    <input type="radio" name="response" id="decline" value='Decline' ng-model="vm.response">
                    <label class="radio_btn_label" for="remove">Remove</label>
                    <input type="radio" name="response" id="remove" value='Remove' ng-model="vm.response">

                </div>
            </center>

            <div ng-show="vm.response == 'Confirm' || vm.response == 'Decline'">
                Receive email notifications:
                <input type="checkbox" name="notification" ng-model="vm.emailNotification "/>
                <br>
                <input type="datetime-local" name="notify_when" ng-model="vm.emailNotifyWhen"
                       ng-show="vm.emailNotification == true"/>
                <br ng-show="vm.emailNotification == true">
            </div>

        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                Reply
            </button>
        </div>
    </div>

</form>

