<div class="top_corner_div">
    <center><h5>{{ ngDialogData.day_of_week }}, {{ ngDialogData.show_date }}</h5></center>
</div>
<br>
<center><h2>{{ ngDialogData.content }}</h2></center>
<center><h4 ng-hide="ngDialogData.is_holiday">{{ ngDialogData.description_event }}</h4></center>

<br>
<h5 ng-hide="ngDialogData.is_holiday">{{ ngDialogData.location_event}}</h5>
<h5 ng-show="ngDialogData.not_all_day">Time of Event: {{ ngDialogData.start_time | date:'h:mma' }} - {{ ngDialogData.end_time | date:'h:mma' }}</h5>
<h5 ng-show="ngDialogData.need_repeat">Repeats {{ ngDialogData.repeat }} until {{ ngDialogData.end_repeat }}</h5>
<h5 ng-show="ngDialogData.notification">Email Notification Set</h5>
