<div class="top_corner_div" ng-init="vm.init(ngDialogData.id)">
    <center><h5>{{ ngDialogData.day_of_week }}, {{ ngDialogData.show_date }}</h5></center>
</div>
<br>
<center><h2>{{ ngDialogData.content }}</h2></center>
<center>
    <h4 ng-hide="ngDialogData.is_holiday">{{ ngDialogData.description_event }}
        <div ng-show="ngDialogData.pud != 'none'">{{ ngDialogData.pud }}</div>
    </h4>
</center>
<br>
<h5>Event Created on: {{ ngDialogData.created_at | date:'MM/dd/yyyy' }}</h5>
<h5>Event Created by: {{ ngDialogData.author.username }} - {{ ngDialogData.author.email }}</h5>
<h5 ng-hide="ngDialogData.is_holiday">Location: {{ ngDialogData.location_event }}</h5>
<h5 ng-show="ngDialogData.not_all_day">Time of Event: {{ ngDialogData.begin_time | date:'h:mma' }}
    - {{ ngDialogData.end_time | date:'h:mma' }}</h5>
<h5 ng-show="ngDialogData.need_repeat">Repeats {{ ngDialogData.repeat }} until {{ ngDialogData.end_repeat }}</h5>
<h5 ng-show="ngDialogData.notification">Email Notification Set</h5>

<br>

<div layout layout-align="center">
    <md-progress-circular md-mode="indeterminate" ng-show="vm.isLoading"></md-progress-circular>
</div>

<div ng-show="vm.isSignup == true">
    <h5>Minimum Slot Duration: {{ vm.minDuration }} minutes</h5>
    <h5>Maximum Slot Duration: {{ vm.maxDuration }} minutes</h5>
    <h5>{{ vm.maxSlots }} Slot(s) Available for Sign up</h5>

    <br>

    <div layout layout-align="center center" ng-show="vm.notSigningUp == false && !vm.isOwner"> Meeting Duration (in
        Minutes)
    </div>

    <div layout layout-align="center center" ng-show="vm.notSigningUp == false && !vm.isOwner">
        <md-slider flex class="md-primary" md-discrete ng-model="vm.meetingDuration" step="{{ vm.minDuration * 1 }}"
                   min="{{ vm.minDuration * 1 }}"
                   max="{{ vm.maxDuration * 1 }}"
                   aria-label="duration">
        </md-slider>
        <md-button class="md-raised md-primary btn-submit" ng-click="vm.searchAvailableSlots()">Search
        </md-button>

    </div>

    <div ng-show="vm.notSigningUp == false && !vm.isOwner">
        <div layout layout-align="center">
            <md-progress-circular md-mode="indeterminate" ng-show="vm.isSearching"></md-progress-circular>
        </div>

        <div ng-repeat="i in vm.getNumber(vm.returnedBlocks.length) track by $index">
            <accordion close-others="vm.post_description_close1">
                <accordion-group>
                    <accordion-heading>
                        Block {{ $index + 1 }} {{ vm.returnedblockDates[$index]}}
                        <i
                                class="pull-right glyphicon""></i>
                    </accordion-heading>

                    <md-content>
                        <md-list>
                            <md-item ng-repeat="slot in vm.returnedBlocks[$index].myslots track by $index">
                                <md-item-content>
                                    <div class="md-tile-content" style="background-color:#019587; color=black">
                                        <h3>{{ vm.parseSlotTimes(slot.start_time) }} -
                                            {{ vm.parseSlotTimes(slot.end_time) }}</h3>
                                        <h4 ng-show="{{ slot.owner }} != null">{{ slot.owner }}</h4>

                                        <md-checkbox aria-label="is_pud_time"
                                                     ng-disabled="vm.checkDisabled"
                                                     ng-true-value="true"
                                                     ng-false-value="false"
                                                     ng-model="pass"
                                                     ng-click='vm.checkSlot(slot.start_time, slot.end_time)'>
                                        </md-checkbox>
                                    </div>
                                </md-item-content>
                                <md-divider ng-if="!$last"></md-divider>
                            </md-item>
                        </md-list>
                    </md-content>

                </accordion-group>

            </accordion>
        </div>

        <div layout="column" layout-align="center center">
            <md-button class="md-raised md-primary btn-submit" form="myform" type="submit"
                       ng-click="vm.confirmSignUp() && close()"
                       ng-disabled="vm.selectedStart <= 0">Sign Up
            </md-button>
        </div>
    </div>


    <div ng-repeat="i in vm.getNumber(vm.blocks.length) track by $index">
        <accordion ng-show="vm.isSignup == true && vm.notSigningUp == true"
                   close-others="vm.post_description_close">
            <accordion-group>
                <accordion-heading>
                    Block {{ $index + 1 }} {{ vm.blockDates[$index]}}
                    <i
                            class="pull-right glyphicon""></i>
                </accordion-heading>

                <md-content>
                    <md-list>
                        <md-item ng-repeat="slot in vm.blocks[$index].myslots">
                            <md-item-content>
                                <div class="md-tile-content" style="background-color:#019587; color=black">
                                    <h3>{{ vm.parseSlotTimes(slot.start_time) }} -
                                        {{ vm.parseSlotTimes(slot.end_time) }}</h3>
                                    <h4>{{ slot.owner }}</h4>

                                    <p>
                                    </p>
                                </div>
                            </md-item-content>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-item>
                    </md-list>
                </md-content>

            </accordion-group>

        </accordion>
    </div>

    <div layout="column" layout-align="center center" ng-show="!vm.isOwner">
        <md-button class="md-raised md-primary btn-submit" ng-click="vm.signUp()"
                   ng-show="vm.notSigningUp == true">Sign Up
        </md-button>
    </div>
</div>

<div ng-hide="vm.isSignup">
    <accordion ng-hide="(ngDialogData.is_holiday
|| (vm.hasConfirmedGroups == false
    && vm.hasDeclinedGroups == false
    && vm.hasRemovedGroups == false
    && vm.hasNoRespGroups == false))" close-others="vm.post_description_close">
        <accordion-group is-open="vm.isThirdOpenPost"
                         is-disabled="status.isPostDisabled">
            <accordion-heading>
                Invitation Responses <i class="pull-right glyphicon"
                                        ng-class="{'glyphicon-chevron-down': vm.isThirdOpenPost, 'glyphicon-chevron-right': !vm.isThirdOpenPost}"></i>
            </accordion-heading>
            <br>

            <div ng-show="vm.hasConfirmedGroups">
                <p align="left">
                    Confirmed:</p>
                <li ng-repeat="user in vm.confirmedGroups">
                    <p align="left">
                        {{ user.name }}</p>
                </li>
            </div>
            <div ng-show="vm.hasDeclinedGroups">
                <p align="left">
                    Declined:</p>
                <li ng-repeat="user in vm.declinedGroups">
                    <p align="left">
                        {{ user.name }}</p>
                </li>
            </div>
            <div ng-show="vm.hasRemovedGroups">
                <p align="left">
                    Removed:</p>
                <li ng-repeat="user in vm.removedGroups">
                    <p align="left">
                        {{ user.name }}</p>
                </li>
            </div>
            <div ng-show="vm.hasNoRespGroups">
                <p align="left">
                    No Response:</p>
                <li ng-repeat="user in vm.noRespGroups">
                    <p align="left">
                        {{ user.name }}</p>
                </li>
            </div>

        </accordion-group>

    </accordion>
</div>

<div ng-show="vm.isSignup && vm.isOwner">
    <accordion ng-hide="(ngDialogData.is_holiday
|| (vm.hasConfirmedGroups == false
    && vm.hasDeclinedGroups == false
    && vm.hasRemovedGroups == false
    && vm.hasNoRespGroups == false))" close-others="vm.post_description_close">
        <accordion-group is-open="vm.isThirdOpenPost"
                         is-disabled="status.isPostDisabled">
            <accordion-heading>
                Shared With <i class="pull-right glyphicon""></i>
            </accordion-heading>
            <br>

            <li ng-repeat="user in vm.confirmedGroups">
                <p align="left">
                    {{ user.name }}</p>
            </li>
            <li ng-repeat="user in vm.hasNoRespGroups">
                <p align="left">
                    {{ user.name }}</p>
            </li>

        </accordion-group>

    </accordion>
</div>
