<div class="well">
    <div class="post">
        <div class="post__meta">
            <a class="post__date" {{ post.show_date }}>
                {{ post.show_date }}
            </a>

            <div class="day_of_week">
                {{ post.day_of_week }}
            </div>
        </div>
        <center><span class="post__content">{{ post.content }} </span></center>
        <center><button class="left-side hover-btn mdi-editor-border-color btn btn-default btn-xs"></button>
        <button class="right-side hover-btn mdi-action-flip-to-front btn btn-default btn-xs"></button></center>
    </div>
</div>
