<form role="form" ng-submit="vm.updateEvent()" ng-init="vm.init(ngDialogData.id)">
    <div class="form-group">
        <center><h2>Update Event</h2></center>
        <div class="form-group">

            <input type="text" class="form-control" id="event__name" ng-init="vm.content = ngDialogData.content"
                   ng-model="vm.content" required>
            <span class="form-highlight"></span>
            <span class="form-bar"></span>
            <label class="float-label" for="event__name">Name of Event</label>

        </div>


        <div class="form-group">

            <input type="text" class="form-control" id="event__location"
                   ng-init="vm.location_event = ngDialogData.location_event" ng-model="vm.location_event" required>
            <span class="form-highlight"></span>
            <span class="form-bar"></span>
            <label class="float-label" for="event__location">Location of Event</label>

        </div>

        <div class="form-group">

            <input type="text" class="form-control" id="event__location"
                   ng-init="vm.description_event = ngDialogData.description_event" ng-model="vm.description_event"
                   required>
            <span class="form-highlight"></span>
            <span class="form-bar"></span>
            <label class="float-label" for="event__location">Description of event</label>

        </div>
        Date of Event:
        <br>


        <input type="date" id="event__date" name="date" ng-model="vm.start_time">

        <input type="checkbox" class="all_day" ng-model="vm.not_all_day"/> Not all day?
        <br>

        <div ng-show="vm.not_all_day == true">
            <br>
            Start time:

            <input type="time" name="starttime" ng-model="vm.begin_time">
            End time:
            <input type="time" name="endtime" ng-model="vm.end_time">
            <br>
            Pud allocation:
            <input type="checkbox" name="is_pud_time" ng-model="vm.pud_time"/>
        </div>
        <br>

        Repeat:
        <input type="checkbox" name="is_repeating" ng-model="vm.is_repeating" ng-hide="vm.pud_time == true"/>

        <div ng-show="vm.is_repeating == true">
            <br>
            <select class="form-control" ng-model="vm.repeat">
                <option value='Daily'>Daily</option>
                <option value='Weekly'>Weekly</option>
                <option value='Monthly'>Monthly</option>
            </select>
            <br>
            Repeat until:
            <br>
            <input type="date" name="endrepeat" ng-model="vm.end_repeat">
        </div>
        <br>
        Receive email notifications:
        <input type="checkbox" name="notification" ng-model="vm.notification "/>
        <br>
        <input type="datetime-local" name="notify_when" ng-model="vm.notify_when" ng-show="vm.notification == true"/>
        <br ng-show="vm.notification == true">

        <br>

        Share Event?
        <input type="checkbox" ng-model="vm.is_shared"/>

        <div ng-show="vm.is_shared == true">
            <br>
            <angucomplete class="change_angucomplate" id="search" pause="100" selectedobject="vm.selectedGroup"
                          localdata="ngDialogData" titlefield="name" searchfields="name"
                          minlength="1"
                          inputclass="form-control2" matchclass="highlight"
                          placeholder="Search Groups and Followers"/>

            <center><h4 ng-show="vm.selectedGroup">Access Rule</h4></center>
            <center>
                <div class="form-group" ng-show="vm.selectedGroup">
                    <label class="radio_btn_left" for="busy">Busy</label><input type="radio" name="rule" id="busy"
                                                                                value="Busy" ng-model="vm.rule">
                    <label class="radio_btn_middle_post" for="see">Read Only</label>
                    <input type="radio" name="rule" id="see" value="Read Only" ng-model="vm.rule">
                    <label class="radio_btn_label" for="modify">Modify</label>
                    <input type="radio" name="rule" id="modify" value="Modify" ng-model="vm.rule">

                </div>
            </center>

            <center><a class="absolute mdi-social-plus-one btn btn-default "
                       ng-show="vm.rule"
                       ng-click="vm.addGroups()"></a></center>

            <li ng-repeat="(group, rule) in vm.groupRuleDict">{{ group }} - {{ rule }}</li>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                Submit
            </button>
        </div>


    </div>

</form>
