<!DOCTYPE html>
<html ng-app="kalendr">
<head>
    <title>Kalendr</title>
    <base href="/"/>
    {% include 'stylesheets.html' %}
    {% include 'javascripts.html' %}
</head>

<script>
    $(document).ready(function () {
        $.material.init();
    });
</script>

{% if user.is_authenticated %}
    {% include 'navbar.html' %}
    <div class="container-fluid">
        <body class="cbp-spmenu-push">
        <div class="row">
            <div class="col-xs-12 ng-view"></div>
        </div>
        </body>
    </div>
{% else %}

        <body class="cbp-spmenu-push" style="overflow: hidden;">
        <div class="row">
            <div class="col-xs-12 ng-view"></div>
        </div>
        </body>
{% endif %}


</html>

