<nav class="navbar" style="background-color:#2196f3; color:#333333" role="navigation"
     ng-controller="NavbarController as vm">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#we-are-borg-navbar">
            </button>
            {% if user.is_authenticated %}
                <a class="navbar-brand" href="/"> {{ user.username }}'s Kalendr</a>

            {% else %}
                <a class="navbar-brand" href="/">Kalendr</a>
            {% endif %}
        </div>
        <!-- ./navbar-header -->

        <div class="collapse navbar-collapse" id="we-are-borg-navbar">
            <ul class="nav navbar-nav pull-right">
                {% if user.is_authenticated %}

                    <li class="withripple"><a href="/+{{ user.username }}/settings">Settings</a></li>
                    <li class="withripple"><a href="/login" ng-click="vm.logout()">Logout</a></li>
                {% else %}
                    <li class="withripple"><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </div>
        <!-- /.collapse.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>