{% load compress %}
{% load staticfiles %}

{% compress css %}

    <!-- 3rd Party UI Features -->
    <link rel="stylesheet" type="text/css" href="{% static 'lib/menu/css/component.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'lib/default.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'lib/pud-screen/css/component.css' %}"/>

    <!-- Angular Material -->
    <link rel="stylesheet" type="text/css"
          href="{% static 'bower_components/angular-material/angular-material.css' %}"/>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'bower_components/bootstrap-material-design/dist/css/ripples.min.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'bower_components/bootstrap-material-design/dist/css/material-wfont.min.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'bower_components/bootstrap-material-design/dist/css/material.min.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'bower_components/bootstrap-material-design/dist/css/test.css' %}"/>

    <!-- Ngdialog -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'bower_components/ngDialog/css/ngDialog-theme-default.css' %}"/>

    <!-- Snackbar -->
    <link rel="stylesheet" type="text/css" href="{% static 'lib/snackbarjs/snackbar.min.css' %}"/>

    <!-- Custom -->
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/buttons.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/posts.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/puds.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/styles.css' %}"/>

    <!-- Mockup -->
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/normalize.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/fonts/font-awesome-4.2.0/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/demo.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/animate.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/mockup4.css' %}"/>




{% endcompress %}