<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kalendr</title>
    <script src="/static/lib/menu/js/modernizr.custom.js"></script>

</head>
<body class="demo-4">
<div class="container">
    <!-- Top Navigation -->
    <div class="codrops-top clearfix">
        <span class="right"><a href=""><span>Login</span></a></span>
    <div id="wrap" class="wrap">
        <div class="mockup">
            <img class="mockup__img" src="/static/lib/img/mockup4.jpg"/>

            <div class="mobile">
                <ul id="slideshow-1" class="slideshow">
                    <li class="slideshow__item"><img src="/static/lib/img/small/p1.png"/></li>
                    <li class="slideshow__item"><img src="/static/lib/img/small/p2.png"/></li>
                    <li class="slideshow__item"><img src="/static/lib/img/small/p3.png"/></li>
                    <li class="slideshow__item"><img src="/static/lib/img/small/p4.png"/></li>
                </ul>
            </div>
            <div class="screen">
                <ul id="slideshow-2" class="slideshow">
                    <li class="slideshow__item current"><img src="/static/lib/img/large/1.png"/></li>
                    <li class="slideshow__item"><img src="/static/lib/img/large/2.png"/></li>
                    <li class="slideshow__item"><img src="/static/lib/img/large/3.png"/></li>
                    <li class="slideshow__item"><img src="/static/lib/img/large/4.png"/></li>
                </ul>
            </div>
            <header class="codrops-header">
                <h1 style="color:#2196f3;"><span>Presenting</span> Kalendr <i> a social calendar application with
                    seamless integration of task and appointment management. Ease into your day with little planning and
                    all play. </i></h1>
            </header>

        </div>
    </div>
        <script src="/static/lib/main.js"></script>
    <script>
        (function () {
            new Slideshow(document.getElementById('slideshow-1'));
            setTimeout(function () {
                new Slideshow(document.getElementById('slideshow-2'));
            }, 1750);

            /* Mockup responsiveness */
            var body = docElem = window.document.documentElement,
                    wrap = document.getElementById('wrap'),
                    mockup = wrap.querySelector('.mockup'),
                    mockupWidth = mockup.offsetWidth;

            scaleMockup();

            function scaleMockup() {
                var wrapWidth = wrap.offsetWidth,
                        val = wrapWidth / mockupWidth;

                mockup.style.transform = 'scale3d(' + val + ', ' + val + ', 1)';
            }

            window.addEventListener('resize', resizeHandler);

            function resizeHandler() {
                function delayed() {
                    resize();
                    resizeTimeout = null;
                }

                if (typeof resizeTimeout != 'undefined') {
                    clearTimeout(resizeTimeout);
                }
                resizeTimeout = setTimeout(delayed, 50);
            }

            function resize() {
                scaleMockup();
            }
        })();
    </script>
</body>
</html>
