<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <br><br><br><br><br>

        <div layout="column" layout-align="center center"><h1>Welcome to Kalendr</h1>
            <br><br>

            <div class="well" layout="column" layout-align="center center" style="height:450px; width:471px">
                <md-tabs md-selected="0" md-border-bottom>
                    <md-tab style="padding-left: 80px; padding-right: 80px;" ng-repeat="tab in tabs track by $index"
                            ng-disabled="tab.disabled"
                            label="{{ tab.title }}">
                        <div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">
                            <div>
                                <form role="form" ng-submit="vm.login()" ng-show="$index == 0">

                                    <md-input-container>
                                        <label style="color:#545454">Email</label>
                                        <input required type="text" name="task_name"
                                               ng-model="vm.email">
                                    </md-input-container>
                                    <md-input-container>
                                        <label style="color:#545454">Password</label>
                                        <input required type="password" name="task_name"
                                               ng-model="vm.password">
                                    </md-input-container>
                                    <br><br><br>

                                    <div class="form-group" layout="column" layout-align="center center"
                                         ng-show="$index == 0">
                                        <md-button class="md-raised md-primary btn-submit" type="submit">Login
                                        </md-button>
                                    </div>

                                </form>
                                <form role="form" ng-submit="vm.register()" ng-show="$index == 1">
                                    <md-input-container>
                                        <label style="color:#545454">Email</label>
                                        <input required type="text" name="task_name"
                                               ng-model="vm.email">
                                    </md-input-container>
                                    <md-input-container>
                                        <label style="color:#545454">Name</label>
                                        <input required type="text" name="task_name"
                                               ng-model="vm.username">
                                    </md-input-container>
                                    <md-input-container>
                                        <label style="color:#545454">Password</label>
                                        <input required type="password" name="task_name"
                                               ng-model="vm.password">
                                    </md-input-container>
                                    <div class="form-group" layout="column" layout-align="center center"
                                         ng-show="$index == 1">
                                        <md-button class="md-raised md-primary btn-submit" type="submit">Signup
                                        </md-button>
                                    </div>
                                </form>
                            </div>
                            <br/>
                        </div>
                    </md-tab>
                </md-tabs>


            </div>
        </div>
    </div>
</div>